{% load static %}
{% extends 'base.html' %}
{% block title %}Редактировать задачу{% endblock %}
{% block content %}

<h2>Редактировать задачу</h2>

<div class="form-container">
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.title.id_for_label }}">Заголовок</label>
      {{ form.title }}
    </div>
    <div class="form-group">
      <label for="{{ form.description.id_for_label }}">Описание</label>
      {{ form.description }}
    </div>
    <div class="form-group">
      <label for="{{ form.deadline.id_for_label }}">Дедлайн</label>
      {{ form.deadline }}
    </div>
    <div class="form-group">
      <label for="{{ form.priority.id_for_label }}">Приоритет</label>
      {{ form.priority }}
    </div>
    <div class="form-group">
      <label for="{{ form.status.id_for_label }}">Статус</label>
      {{ form.status }}
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-save">Сохранить</button>
      <a href="{% url 'main:task_detail' form.instance.pk %}" class="btn btn-cancel">Отмена</a>
    </div>
  </form>
</div>
{% endblock %}
